@font-face {
    font-family:TwkEverett-bold;
    font-style: normal;
    font-weight: 16px;
    src: url(".\fonts\TwkEverett-bold.woff2"),
         url(".\fonts\TwkEverett-light.woff2"),
         url(".\fonts\TwkEverett-regular.woff2");
}